.bottom{
    border-bottom: 1px solid black;
    margin-bottom: 15px;
  
 
}
.footer{
    background-color: #56aaff;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.dropdown{
    position: relative;
    display: inline-block;
 }
 .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    z-index: 1;
    list-style: none;
 }
 .dropdown:hover .dropdown-content{
    display: block;
 }
